.first-screen__main-text {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  text-align: center;
  text-transform: uppercase;
  margin-bottom: 35px;
  color: #000000;
}
.first-screen__text {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  text-align: center;
  text-transform: uppercase;

  color: #333333;
}
.first-screen {
  padding-bottom: 16px;
}
.first-screen__img {
  margin-bottom: 32px;
}
