.main-header {
  min-height: 56px;
  position: relative;
  padding: 17px 0px;
  box-sizing: border-box;
}
.main-header__button {
  .button-none();
  width: 23px;
  height: 22px;
  background: url("../../img/icon-menu.svg.svg");
  cursor: pointer;
  margin-left: auto;
  display: block;
}
